[Desktop Entry]
Type=Application
Name=Citrix Workspace
Comment=Citrix Workspace + HDX RTME Flatpak
StartupWMClass=Wfica
NoDisplay=true
TryExec=/app/ICAClient/linuxx64/wfica
Exec=/app/ICAClient/linuxx64/wfica -icaroot /app/ICAClient/linuxx64 %f
Icon=ca.dcloud.ICAClient
Categories=Network;Office;
MimeType=application/x-ica;