[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Citrix Workspace Launcher
StartupWMClass=Wfica
NoDisplay=true
MimeType=x-scheme-handler/citrixauthwebviewdone
Categories=Application;Network;X-Red-Hat-Base;X-SuSE-Core-Internet;
Icon=/app/ICAClient/linuxx64/icons/receiver.png
TryExec=/app/ICAClient/linuxx64/util/ctxwebhelper
Exec= /app/ICAClient/linuxx64/util/ctxwebhelper %u
